
@import "normalize.css";
@import "fonts.css";
@import "grid.css";


:root{

    --text-color:#333333;
    --shadow-color: rgba(19,182,255,0.24);
    --app-bg-color: #fff;
    --section-bg-color: #fff;
    --primary-color: #09BEAD;
    --secondary-color: #F57F17;
    --home-shape-color :#09BEAD;
}


html {
    font-size: 62.5%;
}


body {
    font-family: "Poppins";
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--app-bg-color);
    padding-top: 12rem;
}


/* 
============================================
    Reset
============================================
*/
a {
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

/* 
============================================
    Components
============================================
*/
.app-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18rem;
    height: 5.2rem;
    border-radius: 4rem;
    color: #fff;
    font-family: 'Poppins SemiBold';

}
.app-btn--orange{
    background-color: var(--secondary-color);
    box-shadow: 1rem 2rem 3rem -1rem rgba(245, 127, 23, 0.24);
}
.app-btn--teal {
    background-color: var(--primary-color);
    box-shadow: 1rem 2rem 3rem -1rem rgba(11,190,173,0.4);
}


.section-head{
    text-align: center;
    margin-bottom: 5rem;
}
.section-head__title{
    color: var(--primary-color);
    font-family: "Poppins Bold";
    font-size: 4.8rem;
    margin: 0;
}
.section-head__caption{
    margin: .5rem 0 2.5rem 0;
    letter-spacing: 0.25rem;
}
.section-head__line{
    display: block;
    width: 20rem;
    height: 0.2rem;
    background-color: var(--primary-color);
    margin: 0 auto;
    position: relative;
}

.section-head__line::after{
    content: "";
    position: absolute;
    width: 3rem;
    height: 0.8rem;
    border-radius: 2rem;
    background-color: var(--primary-color);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

/* 
============================================
    Helper Classes
============================================
*/
.align-items-center{
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.skew-reset{
    transform: skewY(6deg);
}
.h-full{
    height: 100%;
}
/* 
============================================
    Header
============================================
*/


.header{

    background-color: var(--section-bg-color);
    color: var(--text-color);
    font-family: 'Poppins Medium';
    box-shadow: 0px .5rem 4rem rgba(4, 195, 255, 0.16);
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    z-index: 100;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.nav__logo{
    color: var(--primary-color);
    font-family: 'Poppins-Black';
    font-size: 6rem;
    margin: 0;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu__item{
    margin-right: 4rem;
}

.menu__item:last-child{
    margin-right: 0;
}
.menu__link{
    display: inline-block;
    color: var(--text-color);
    font-family: 'Poppins Medium';
    transition: color 200ms ease-in;
}
.menu__link:hover{
    color: var(--primary-color);
}
.menu__link--active{
    color: var(--primary-color);
}
.nav__toggle-icon{
    display: none;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}
.nav__toggle-line{
    position: relative;
}

.nav__toggle-line,
.nav__toggle-line::before,
.nav__toggle-line::after{
    content: '';
    border-radius: 2rem;
    width: 5rem;
    height: .4rem;
    background-color: var(--primary-color);
    transition: all 200ms ease-in;
}
.nav__toggle-line::before{
    position: absolute;
    top: -1rem;
}
.nav__toggle-line::after{
    position: absolute;
    bottom: -1rem;
}

.nav__toggle-icon--open .nav__toggle-line::before{
    transform: translateY(1rem)rotate(45deg);
}

.nav__toggle-icon--open .nav__toggle-line::after{
    transform: translateY(-1rem)rotate(-45deg);
}
.nav__toggle-icon--open .nav__toggle-line{
    background-color: transparent;
}

/* 
============================================
    Main
============================================
*/

.main{
    overflow: hidden;
}


/* 
============================================
    Home Section
============================================
*/
.home{
    margin-top: 10rem;
    background-image: url('../images/shapes/header-shape.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vw;
    height: 82rem;
    width: 100%;
}
.home__content{
}
.home__user{
    font-family: 'Poppins SemiBold';
    color: var(--primary-color);
    font-size: 2.5rem;
    margin: 0;
}
.home__user--name{
    color: var(--secondary-color);
}
.home__title{
    font-family: 'Poppins Bold';
    color: var(--primary-color);
    font-size: 5rem;
    margin: 0;
}
.home__caption{
    font-family: 'Poppins Regular';
    margin-top: 1rem;
    margin-bottom: 2rem;
    opacity: 0.7;
}
.home__links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.home__link{
    margin-right: 3rem;
}
.home__link:last-child{
    margin-right: 0;
}

.home__photo{
    width: 50rem;
    height: 50rem;
    border-radius: 100%;
    background-image: url('../images/header-avatar.jpg');
    background-repeat: no-repeat;
    background-position-x: calc(50%);
    background-position-y: calc(30%);
    border: 2rem solid var(--section-bg-color);
    box-shadow: 0 0 4rem rgba(96, 233, 255, 0.27);
}
.home__shape{
    width: 100%;
}


/* 
============================================
    About Us
============================================
*/



.aboutus{
    margin-top: 6rem;
}

.about{
    display: flex;
    background-color: var(--section-bg-color);
    box-shadow: 0 0 4rem rgba(96, 233, 255, 0.27);
    min-height: 62rem;
}
.about__cover{
    flex-basis: 48%;
    flex-shrink: 0;
}
.about__content{
    flex-basis: 52%;
    flex-shrink: 0;
    padding: 4rem;
}
.about__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__title{
    margin-top: 0;
    font-family: 'Poppins SemiBold';
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.about__description{
    margin-top: 0;
    margin-bottom: 6rem;
}
.about__list-title{
    color: var(--primary-color);
    font-size: 1.8rem;
    font-family:'Poppins SemiBold' ;
    margin-top: 0;
    margin-bottom: 1rem;
}
.about-list{
    margin-bottom: 3rem;
    margin-left: 1rem;
}
.about-list__item{
    margin-bottom: 1rem;
    position: relative;
    padding-left: 3rem;
}

.about-list__item:last-child{
    margin-bottom: 0;
}

.about-list__item::before{
    display: block;
    content: "";
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--secondary-color);
    border-radius: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


.about__links{
    display: flex;
    gap:3rem
}



/* 
============================================
    Services
============================================
*/


.services{
    margin-top: 6rem;
}
.service{
    color: #fff;
    text-align: center;
    overflow: hidden;
    padding: 8rem 3rem;
    position: relative;
    z-index: 5;
    height: 100%;
}

.service__icon{

}

.service__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}
.service__title{
    font-family: "Poppins Bold";
    font-size: 2.4rem;
    margin-bottom:0;
    margin-top:1.6rem;

}
.service__description{
    margin-bottom: 0;
}


.service--purple{
    background-color: #8540FF;
}
.service--purple .service__wave{
    fill: #803AFB;
}


.service--yellow{
    background-color: #FFC50C;

}
.service--yellow .service__wave{
    fill: #FFBB01;
}


.service--red{
    background-color: #EC407A;

}
.service--red .service__wave{
    fill: #F5276C;
}


.service--orange{
    background-color: #FF6331;

}
.service--orange .service__wave{
    fill:#FF5823
}


.service--blue{
    background-color: #13B6FF;

}
.service--blue .service__wave{
    fill: #03ACF8;
}


.service--green{
    background-color: #49AF46;
}

.service--green .service__wave{
    fill: #49B846;
}

/* 
============================================
    Resueme
============================================
*/


.resume{
    margin-top: 10rem;
    padding: 10rem 0;
    box-shadow: 0 0 6rem rgba(19,182,255,0.24);
    margin-bottom: 10rem;
    transform: skewY(-6deg);
    background-color: var(--section-bg-color);
}

.resume-list{
    background-color: var(--app-bg-color);
    box-shadow: 0 0 4rem rgba(19,182,255,0.24);
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume-list::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4rem;
    background-color: var(--primary-color);
    z-index: -1;
}

.resume-list__item{
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    padding: .8rem 0;
    position: relative;
    cursor: pointer;
}
.resume-list__item:last-child{
    margin-bottom: 0;
}
.resume-list__item::before{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    background-color: var(--primary-color);
    width: 5.2rem;
    border-radius: 3rem;
    z-index: -1;
    transition: all 0.2s ease-in;
}

.resume-list__item--active{
    color: #fff;
}

.resume-list__item--active::before{
    max-width: 26rem;
    width: 100%;
}

.resume-list__icon {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 .8rem;
}

.resume-list__content {
    font-family: "Poppins SemiBold";
    font-size: 2rem;
    margin-left: 2.1rem;
    transition: all 0.2s ease-in;
}

.resume-content {

}

.dresume-content--show{
}

.resume-content__item{
}

.resume-content__head{

}

.resume-content__title{

}

.resume-content__title::before{

}

.resume-content__title-info{

}

.resume-content__subtitle{

}

.resume-content__description{

}