
@import "normalize.css";
@import "fonts.css";
@import "grid.css";


:root{

    --text-color:#333333;
    --shadow-color: rgba(19,182,255,0.24);
    --app-bg-color: #fff;
    --section-bg-color: #fff;
    --primary-color: #09BEAD;
    --secondary-color: #F57F17;
}


html {
    font-size: 62.5%;
}


body {
    font-family: "Poppins";
    font-size: 1.6rem;
    line-height: 1.5;
}


/* 
============================================
    Reset
============================================
*/
a {
    text-decoration: none;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
/* 
============================================
    Header
============================================
*/


.header{

    background-color: var(--section-bg-color);
    color: var(--text-color);
    font-family: 'Poppins Medium';
    box-shadow: 0px .5rem 4rem rgba(4, 195, 255, 0.16);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.nav__logo{
    color: var(--primary-color);
    font-family: 'Poppins-Black';
    font-size: 6rem;
    margin: 0;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu__item{
    margin-right: 4rem;
}

.menu__item:last-child{
    margin-right: 0;
}
.menu__link{
    display: inline-block;
    color: var(--text-color);
    font-family: 'Poppins Medium';

}
.menu__link--active{
    color: var(--primary-color);
}
.nav__toggle-icon{
    display: none;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
}
.nav__toggle-line{
    position: relative;
}

.nav__toggle-line,
.nav__toggle-line::before,
.nav__toggle-line::after{
    content: '';
    border-radius: 2rem;
    width: 5rem;
    height: .4rem;
    background-color: var(--primary-color);
    transition: all 200ms ease-in;
}
.nav__toggle-line::before{
    position: absolute;
    top: -1rem;
}
.nav__toggle-line::after{
    position: absolute;
    bottom: -1rem;
}

.nav__toggle-icon--open .nav__toggle-line::before{
    transform: translateY(1rem)rotate(45deg);
}

.nav__toggle-icon--open .nav__toggle-line::after{
    transform: translateY(-1rem)rotate(-45deg);
}
.nav__toggle-icon--open .nav__toggle-line{
    background-color: transparent;
}


.main{
    overflow: hidden;
    padding-top: 11rem;
}
.home{
    padding-top: 10rem;
}
.home__content{
    min-width: 40rem;
    margin: 10rem auto 0 auto;

}
.home__user{
    color: var(--primary-color);
    font-family: 'Poppins-SemiBold';
    font-size: 2.8rem;
    margin-bottom: 0;
}
.home__user--name{
    color: var(--secondary-color);
}
.home__title{
    color: var(--primary-color);
    font-family: 'Poppins-Bold';
    font-size: 5rem;
    margin: 1rem 0;
}
.home__caption{
    font-family: 'Poppins-Regular';
    margin-bottom: 2rem;
}
.home__links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.home__link-btn{
    font-family: 'Poppins-SemiBold';
    color: #fff;
    display: block;
    width: 20rem;
    height: 5rem;
    text-align: center;
    align-content: center;
    border-radius: 2rem;
    margin-right: 2rem;
}
.home__link-btn--primary{
    background-color: var(--primary-color);
    box-shadow: 1rem 1rem 3rem -1rem var(--primary-color);
}
.home__link-btn--secondary{
    background-color: var(--secondary-color);
    box-shadow: 1rem 1rem 3rem -1rem var(--secondary-color);
}
.home__photo{
    border: 2rem solid var(--app-bg-color);
    box-shadow: 0px .5rem 4rem rgba(4, 195, 255, 0.16);
    text-align: center;
    width: 55rem;
    height: 55rem;
    border-radius: 50%;
    background-image: url('../images/header-avatar.jpg');
    background-size: cover;
    background-position-x: calc(65%);
    background-position-y: calc(100%);
}
.home__shape{
    transform: scaleX(1.2);
}