@media screen  and (max-width:1200px){
    
}

@media screen  and (max-width:992px){
    .nav__logo{
        font-size: 5rem;
    }
    .menu__item{
        margin-right: 3rem;
    }
}

@media screen  and (max-width:768px){
    .menu {
        /*display: none;*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        width: 100%;
        top: 100%;
        left:0;
        right: 0;
        background-color: var(--section-bg-color);
        height: 0;
        overflow: hidden;
        transition: all 200ms ease-in;
    }
    .menu__item{
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .menu__item:first-child{
        margin-top: 2rem;
    }
    .menu--open{
        height: 33rem;
    }
    .nav__toggle-icon{
        display: flex;
        align-items: center;
        align-items: center;
    }

    .cover{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        background-color: rgba(0,0,0,0.05);
        z-index: -1;
        opacity: 0;
        overflow: hidden;
        transition: all 200ms ease-in;
    }
    .cover--show{
        z-index: 90;
        opacity: 1;
    }
}

@media screen  and (max-width:576px){
    
}